
@{
    Layout = "~/Views/Shared/_Layout3.cshtml";
    ViewData["Title"] = "Home";
}

<h1 style="text-align:center">Welcome To E-Mart</h1>
@*<form asp-action="Buyer">
    <span>
        <input type="button" value="RegisterBuyer" asp-action="Buyer/RegisterUser" asp-controller="Buyer" class="text-primary" />
        <input type="button" value="RegisterSeller" asp-action="Seller/RegisterUser" class="text-primary" />
    </span>

</form>*@

